</br>
</br>
</br>
</br>
<div class="pageuserstyle">
  <a class="pageuserstyle" href="/startgame">
    <span style= "color: green">
      play a new game
    </span>
  </a>
  </br>
  </br>
  <a class="pageuserstyle" href="/myprofile">
    <span style= "color: red">
      My profile
    </span>
  </a>
</div>